body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-syOq7Yb1Ak {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syOq7Yb1Ak img,
.cid-syOq7Yb1Ak .item-img {
  width: 100%;
}
.cid-syOq7Yb1Ak .item:focus,
.cid-syOq7Yb1Ak span:focus {
  outline: none;
}
.cid-syOq7Yb1Ak .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syOq7Yb1Ak .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syOq7Yb1Ak .item {
  padding: 0;
  margin: 0;
}
.cid-syOq7Yb1Ak .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syOq7Yb1Ak .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syOq7Yb1Ak .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syOq7Yb1Ak .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syOq7Yb1Ak .mbr-section-title {
  color: #232323;
}
.cid-syVAtSoxme {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-syVAtSoxme .container {
    max-width: 1400px;
  }
}
.cid-syVAtSoxme .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-syVAtSoxme .card-wrapper {
  margin-top: 3rem;
}
.cid-syVAtSoxme .row {
  justify-content: center;
}
.cid-syVAtSoxme .card-title,
.cid-syVAtSoxme .iconfont-wrapper {
  color: #ffffff;
}
.cid-syOmmodPlW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syOmmodPlW img,
.cid-syOmmodPlW .item-img {
  width: 100%;
}
.cid-syOmmodPlW .item:focus,
.cid-syOmmodPlW span:focus {
  outline: none;
}
.cid-syOmmodPlW .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syOmmodPlW .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syOmmodPlW .item {
  padding: 0;
  margin: 0;
}
.cid-syOmmodPlW .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syOmmodPlW .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syOmmodPlW .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syOmmodPlW .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syOmmodPlW .mbr-section-title {
  color: #000000;
}
.cid-syOmmodPlW .mbr-section-subtitle {
  color: #000000;
}
.cid-sz08lsVtd7 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08lsVtd7 .container {
    max-width: 1400px;
  }
}
.cid-sz08lsVtd7 .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08lsVtd7 .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08lsVtd7 .row {
  justify-content: center;
}
.cid-sz08lsVtd7 .card-title,
.cid-sz08lsVtd7 .iconfont-wrapper {
  color: #ffffff;
}
.cid-syOrlPRsQE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syOrlPRsQE img,
.cid-syOrlPRsQE .item-img {
  width: 100%;
}
.cid-syOrlPRsQE .item:focus,
.cid-syOrlPRsQE span:focus {
  outline: none;
}
.cid-syOrlPRsQE .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syOrlPRsQE .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syOrlPRsQE .item {
  padding: 0;
  margin: 0;
}
.cid-syOrlPRsQE .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syOrlPRsQE .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syOrlPRsQE .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syOrlPRsQE .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syOrlPRsQE .mbr-section-title {
  color: #232323;
}
.cid-sz08ogvMLp {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08ogvMLp .container {
    max-width: 1400px;
  }
}
.cid-sz08ogvMLp .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08ogvMLp .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08ogvMLp .row {
  justify-content: center;
}
.cid-sz08ogvMLp .card-title,
.cid-sz08ogvMLp .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUmyGINOl {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-syUmyGINOl img,
.cid-syUmyGINOl .item-img {
  width: 100%;
}
.cid-syUmyGINOl .item:focus,
.cid-syUmyGINOl span:focus {
  outline: none;
}
.cid-syUmyGINOl .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUmyGINOl .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUmyGINOl .item {
  padding: 0;
  margin: 0;
}
.cid-syUmyGINOl .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUmyGINOl .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUmyGINOl .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUmyGINOl .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUmyGINOl .mbr-section-title {
  color: #232323;
}
.cid-sz08rng7cP {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08rng7cP .container {
    max-width: 1400px;
  }
}
.cid-sz08rng7cP .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08rng7cP .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08rng7cP .row {
  justify-content: center;
}
.cid-sz08rng7cP .card-title,
.cid-sz08rng7cP .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUn0PmV74 {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-syUn0PmV74 img,
.cid-syUn0PmV74 .item-img {
  width: 100%;
}
.cid-syUn0PmV74 .item:focus,
.cid-syUn0PmV74 span:focus {
  outline: none;
}
.cid-syUn0PmV74 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUn0PmV74 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUn0PmV74 .item {
  padding: 0;
  margin: 0;
}
.cid-syUn0PmV74 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUn0PmV74 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUn0PmV74 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUn0PmV74 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUn0PmV74 .mbr-section-title {
  color: #232323;
}
.cid-sz08v5IdE4 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08v5IdE4 .container {
    max-width: 1400px;
  }
}
.cid-sz08v5IdE4 .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08v5IdE4 .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08v5IdE4 .row {
  justify-content: center;
}
.cid-sz08v5IdE4 .card-title,
.cid-sz08v5IdE4 .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUnK1QbTx {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-syUnK1QbTx img,
.cid-syUnK1QbTx .item-img {
  width: 100%;
}
.cid-syUnK1QbTx .item:focus,
.cid-syUnK1QbTx span:focus {
  outline: none;
}
.cid-syUnK1QbTx .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUnK1QbTx .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUnK1QbTx .item {
  padding: 0;
  margin: 0;
}
.cid-syUnK1QbTx .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUnK1QbTx .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUnK1QbTx .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUnK1QbTx .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUnK1QbTx .mbr-section-title {
  color: #232323;
}
.cid-sz08y4GhuJ {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08y4GhuJ .container {
    max-width: 1400px;
  }
}
.cid-sz08y4GhuJ .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08y4GhuJ .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08y4GhuJ .row {
  justify-content: center;
}
.cid-sz08y4GhuJ .card-title,
.cid-sz08y4GhuJ .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUopDtoOV {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-syUopDtoOV img,
.cid-syUopDtoOV .item-img {
  width: 100%;
}
.cid-syUopDtoOV .item:focus,
.cid-syUopDtoOV span:focus {
  outline: none;
}
.cid-syUopDtoOV .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUopDtoOV .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUopDtoOV .item {
  padding: 0;
  margin: 0;
}
.cid-syUopDtoOV .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUopDtoOV .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUopDtoOV .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUopDtoOV .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUopDtoOV .mbr-section-title {
  color: #232323;
}
.cid-sz08B7SqhX {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08B7SqhX .container {
    max-width: 1400px;
  }
}
.cid-sz08B7SqhX .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08B7SqhX .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08B7SqhX .row {
  justify-content: center;
}
.cid-sz08B7SqhX .card-title,
.cid-sz08B7SqhX .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUoOuxKPe {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUoOuxKPe img,
.cid-syUoOuxKPe .item-img {
  width: 100%;
}
.cid-syUoOuxKPe .item:focus,
.cid-syUoOuxKPe span:focus {
  outline: none;
}
.cid-syUoOuxKPe .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUoOuxKPe .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUoOuxKPe .item {
  padding: 0;
  margin: 0;
}
.cid-syUoOuxKPe .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUoOuxKPe .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUoOuxKPe .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUoOuxKPe .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUoOuxKPe .mbr-section-title {
  color: #232323;
}
.cid-sz08Days6n {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08Days6n .container {
    max-width: 1400px;
  }
}
.cid-sz08Days6n .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08Days6n .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08Days6n .row {
  justify-content: center;
}
.cid-sz08Days6n .card-title,
.cid-sz08Days6n .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUpTqfdpd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUpTqfdpd img,
.cid-syUpTqfdpd .item-img {
  width: 100%;
}
.cid-syUpTqfdpd .item:focus,
.cid-syUpTqfdpd span:focus {
  outline: none;
}
.cid-syUpTqfdpd .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUpTqfdpd .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUpTqfdpd .item {
  padding: 0;
  margin: 0;
}
.cid-syUpTqfdpd .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUpTqfdpd .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUpTqfdpd .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUpTqfdpd .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUpTqfdpd .mbr-section-title {
  color: #232323;
}
.cid-sz08FsuuMx {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08FsuuMx .container {
    max-width: 1400px;
  }
}
.cid-sz08FsuuMx .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08FsuuMx .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08FsuuMx .row {
  justify-content: center;
}
.cid-sz08FsuuMx .card-title,
.cid-sz08FsuuMx .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUq9OtQUb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUq9OtQUb img,
.cid-syUq9OtQUb .item-img {
  width: 100%;
}
.cid-syUq9OtQUb .item:focus,
.cid-syUq9OtQUb span:focus {
  outline: none;
}
.cid-syUq9OtQUb .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUq9OtQUb .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUq9OtQUb .item {
  padding: 0;
  margin: 0;
}
.cid-syUq9OtQUb .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUq9OtQUb .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUq9OtQUb .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUq9OtQUb .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUq9OtQUb .mbr-section-title {
  color: #232323;
}
.cid-sz08MdxtCs {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08MdxtCs .container {
    max-width: 1400px;
  }
}
.cid-sz08MdxtCs .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08MdxtCs .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08MdxtCs .row {
  justify-content: center;
}
.cid-sz08MdxtCs .card-title,
.cid-sz08MdxtCs .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUqolAcAq {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUqolAcAq img,
.cid-syUqolAcAq .item-img {
  width: 100%;
}
.cid-syUqolAcAq .item:focus,
.cid-syUqolAcAq span:focus {
  outline: none;
}
.cid-syUqolAcAq .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUqolAcAq .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUqolAcAq .item {
  padding: 0;
  margin: 0;
}
.cid-syUqolAcAq .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUqolAcAq .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUqolAcAq .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUqolAcAq .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUqolAcAq .mbr-section-title {
  color: #232323;
}
.cid-sz08OhdBTQ {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08OhdBTQ .container {
    max-width: 1400px;
  }
}
.cid-sz08OhdBTQ .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08OhdBTQ .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08OhdBTQ .row {
  justify-content: center;
}
.cid-sz08OhdBTQ .card-title,
.cid-sz08OhdBTQ .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUqEvMb5n {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUqEvMb5n img,
.cid-syUqEvMb5n .item-img {
  width: 100%;
}
.cid-syUqEvMb5n .item:focus,
.cid-syUqEvMb5n span:focus {
  outline: none;
}
.cid-syUqEvMb5n .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUqEvMb5n .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUqEvMb5n .item {
  padding: 0;
  margin: 0;
}
.cid-syUqEvMb5n .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUqEvMb5n .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUqEvMb5n .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUqEvMb5n .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUqEvMb5n .mbr-section-title {
  color: #232323;
}
.cid-sz08Q9D5HA {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08Q9D5HA .container {
    max-width: 1400px;
  }
}
.cid-sz08Q9D5HA .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08Q9D5HA .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08Q9D5HA .row {
  justify-content: center;
}
.cid-sz08Q9D5HA .card-title,
.cid-sz08Q9D5HA .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUqSWWxWX {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUqSWWxWX img,
.cid-syUqSWWxWX .item-img {
  width: 100%;
}
.cid-syUqSWWxWX .item:focus,
.cid-syUqSWWxWX span:focus {
  outline: none;
}
.cid-syUqSWWxWX .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUqSWWxWX .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUqSWWxWX .item {
  padding: 0;
  margin: 0;
}
.cid-syUqSWWxWX .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUqSWWxWX .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUqSWWxWX .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUqSWWxWX .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUqSWWxWX .mbr-section-title {
  color: #232323;
}
.cid-sz08S4BWwT {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08S4BWwT .container {
    max-width: 1400px;
  }
}
.cid-sz08S4BWwT .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08S4BWwT .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08S4BWwT .row {
  justify-content: center;
}
.cid-sz08S4BWwT .card-title,
.cid-sz08S4BWwT .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUr7hKSZK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUr7hKSZK img,
.cid-syUr7hKSZK .item-img {
  width: 100%;
}
.cid-syUr7hKSZK .item:focus,
.cid-syUr7hKSZK span:focus {
  outline: none;
}
.cid-syUr7hKSZK .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUr7hKSZK .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUr7hKSZK .item {
  padding: 0;
  margin: 0;
}
.cid-syUr7hKSZK .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUr7hKSZK .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUr7hKSZK .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUr7hKSZK .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUr7hKSZK .mbr-section-title {
  color: #232323;
}
.cid-sz08U1zX7i {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08U1zX7i .container {
    max-width: 1400px;
  }
}
.cid-sz08U1zX7i .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08U1zX7i .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08U1zX7i .row {
  justify-content: center;
}
.cid-sz08U1zX7i .card-title,
.cid-sz08U1zX7i .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUrBqmkTn {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUrBqmkTn img,
.cid-syUrBqmkTn .item-img {
  width: 100%;
}
.cid-syUrBqmkTn .item:focus,
.cid-syUrBqmkTn span:focus {
  outline: none;
}
.cid-syUrBqmkTn .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUrBqmkTn .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUrBqmkTn .item {
  padding: 0;
  margin: 0;
}
.cid-syUrBqmkTn .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUrBqmkTn .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUrBqmkTn .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUrBqmkTn .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUrBqmkTn .mbr-section-title {
  color: #232323;
}
.cid-sz08VQQd4J {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08VQQd4J .container {
    max-width: 1400px;
  }
}
.cid-sz08VQQd4J .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08VQQd4J .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08VQQd4J .row {
  justify-content: center;
}
.cid-sz08VQQd4J .card-title,
.cid-sz08VQQd4J .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUrPyCw1T {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUrPyCw1T img,
.cid-syUrPyCw1T .item-img {
  width: 100%;
}
.cid-syUrPyCw1T .item:focus,
.cid-syUrPyCw1T span:focus {
  outline: none;
}
.cid-syUrPyCw1T .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUrPyCw1T .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUrPyCw1T .item {
  padding: 0;
  margin: 0;
}
.cid-syUrPyCw1T .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUrPyCw1T .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUrPyCw1T .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUrPyCw1T .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUrPyCw1T .mbr-section-title {
  color: #232323;
}
.cid-sz08Y1XKk7 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz08Y1XKk7 .container {
    max-width: 1400px;
  }
}
.cid-sz08Y1XKk7 .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz08Y1XKk7 .card-wrapper {
  margin-top: 3rem;
}
.cid-sz08Y1XKk7 .row {
  justify-content: center;
}
.cid-sz08Y1XKk7 .card-title,
.cid-sz08Y1XKk7 .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUsbSJvDf {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUsbSJvDf img,
.cid-syUsbSJvDf .item-img {
  width: 100%;
}
.cid-syUsbSJvDf .item:focus,
.cid-syUsbSJvDf span:focus {
  outline: none;
}
.cid-syUsbSJvDf .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUsbSJvDf .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUsbSJvDf .item {
  padding: 0;
  margin: 0;
}
.cid-syUsbSJvDf .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUsbSJvDf .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUsbSJvDf .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUsbSJvDf .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUsbSJvDf .mbr-section-title {
  color: #232323;
}
.cid-sz090bv0ok {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz090bv0ok .container {
    max-width: 1400px;
  }
}
.cid-sz090bv0ok .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz090bv0ok .card-wrapper {
  margin-top: 3rem;
}
.cid-sz090bv0ok .row {
  justify-content: center;
}
.cid-sz090bv0ok .card-title,
.cid-sz090bv0ok .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUst4jJ0i {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUst4jJ0i img,
.cid-syUst4jJ0i .item-img {
  width: 100%;
}
.cid-syUst4jJ0i .item:focus,
.cid-syUst4jJ0i span:focus {
  outline: none;
}
.cid-syUst4jJ0i .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUst4jJ0i .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUst4jJ0i .item {
  padding: 0;
  margin: 0;
}
.cid-syUst4jJ0i .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUst4jJ0i .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUst4jJ0i .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUst4jJ0i .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUst4jJ0i .mbr-section-title {
  color: #232323;
}
.cid-sz092i4qVS {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz092i4qVS .container {
    max-width: 1400px;
  }
}
.cid-sz092i4qVS .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz092i4qVS .card-wrapper {
  margin-top: 3rem;
}
.cid-sz092i4qVS .row {
  justify-content: center;
}
.cid-sz092i4qVS .card-title,
.cid-sz092i4qVS .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUsQKXlYw {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUsQKXlYw img,
.cid-syUsQKXlYw .item-img {
  width: 100%;
}
.cid-syUsQKXlYw .item:focus,
.cid-syUsQKXlYw span:focus {
  outline: none;
}
.cid-syUsQKXlYw .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUsQKXlYw .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUsQKXlYw .item {
  padding: 0;
  margin: 0;
}
.cid-syUsQKXlYw .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUsQKXlYw .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUsQKXlYw .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUsQKXlYw .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUsQKXlYw .mbr-section-title {
  color: #232323;
}
.cid-sz094ahmLx {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz094ahmLx .container {
    max-width: 1400px;
  }
}
.cid-sz094ahmLx .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz094ahmLx .card-wrapper {
  margin-top: 3rem;
}
.cid-sz094ahmLx .row {
  justify-content: center;
}
.cid-sz094ahmLx .card-title,
.cid-sz094ahmLx .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUt4f54ra {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUt4f54ra img,
.cid-syUt4f54ra .item-img {
  width: 100%;
}
.cid-syUt4f54ra .item:focus,
.cid-syUt4f54ra span:focus {
  outline: none;
}
.cid-syUt4f54ra .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUt4f54ra .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUt4f54ra .item {
  padding: 0;
  margin: 0;
}
.cid-syUt4f54ra .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUt4f54ra .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUt4f54ra .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUt4f54ra .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUt4f54ra .mbr-section-title {
  color: #232323;
}
.cid-sz095W8m34 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz095W8m34 .container {
    max-width: 1400px;
  }
}
.cid-sz095W8m34 .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz095W8m34 .card-wrapper {
  margin-top: 3rem;
}
.cid-sz095W8m34 .row {
  justify-content: center;
}
.cid-sz095W8m34 .card-title,
.cid-sz095W8m34 .iconfont-wrapper {
  color: #ffffff;
}
.cid-syUtqPuU5S {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syUtqPuU5S img,
.cid-syUtqPuU5S .item-img {
  width: 100%;
}
.cid-syUtqPuU5S .item:focus,
.cid-syUtqPuU5S span:focus {
  outline: none;
}
.cid-syUtqPuU5S .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syUtqPuU5S .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syUtqPuU5S .item {
  padding: 0;
  margin: 0;
}
.cid-syUtqPuU5S .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syUtqPuU5S .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syUtqPuU5S .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syUtqPuU5S .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syUtqPuU5S .mbr-section-title {
  color: #232323;
}
.cid-sz097ZKZZR {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-sz097ZKZZR .container {
    max-width: 1400px;
  }
}
.cid-sz097ZKZZR .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-sz097ZKZZR .card-wrapper {
  margin-top: 3rem;
}
.cid-sz097ZKZZR .row {
  justify-content: center;
}
.cid-sz097ZKZZR .card-title,
.cid-sz097ZKZZR .iconfont-wrapper {
  color: #ffffff;
}
.cid-syZ4zcGCin {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffe161;
}
.cid-syZ4zcGCin .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-syZ4zcGCin .card-wrapper {
  padding: 3rem;
  background: #232323;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .cid-syZ4zcGCin .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-syZ4zcGCin .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-syZ4zcGCin .mbr-section-title {
  color: #353535;
}
.cid-syZ4zcGCin .mbr-section-subtitle {
  color: #353535;
}
.cid-syZ4zcGCin .card-title {
  color: #ffe161;
}
.cid-syZ4zcGCin .mbr-text {
  color: #ffffff;
}
.cid-syZ4zcGCin .link {
  color: #4479d9;
}
.cid-syZa67qZ0a {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #353535;
}
@media (min-width: 1500px) {
  .cid-syZa67qZ0a .container {
    max-width: 1400px;
  }
}
.cid-syZa67qZ0a .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffe161;
  margin-bottom: 2rem;
}
.cid-syZa67qZ0a .card-wrapper {
  margin-top: 3rem;
}
.cid-syZa67qZ0a .row {
  justify-content: center;
}
.cid-syZa67qZ0a .card-title,
.cid-syZa67qZ0a .iconfont-wrapper {
  color: #ffffff;
}
.cid-sywKEGKBXW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #353535;
}
.cid-sywKEGKBXW .content-wrapper {
  background: #353535;
}
@media (max-width: 991px) {
  .cid-sywKEGKBXW .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sywKEGKBXW .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sywKEGKBXW .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sywKEGKBXW .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sywKEGKBXW .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sywKEGKBXW .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sywKEGKBXW .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sywKEGKBXW .card-title {
  text-align: left;
  color: #ffe161;
}
.cid-sywKEGKBXW .mbr-text,
.cid-sywKEGKBXW .mbr-section-btn {
  color: #ffffff;
}
.cid-sywNGWxDIg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffe161;
}
.cid-sywNGWxDIg .mbr-section-subtitle {
  color: #353535;
}
.cid-sywMU83fxU {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sywMU83fxU img,
.cid-sywMU83fxU .item-img {
  width: 100%;
}
.cid-sywMU83fxU .item:focus,
.cid-sywMU83fxU span:focus {
  outline: none;
}
.cid-sywMU83fxU .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sywMU83fxU .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sywMU83fxU .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sywMU83fxU .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sywMU83fxU .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sywMU83fxU .mbr-section-title {
  color: #232323;
}
.cid-syV2RzmXTx {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-syV2RzmXTx img,
.cid-syV2RzmXTx .item-img {
  width: 100%;
}
.cid-syV2RzmXTx .item:focus,
.cid-syV2RzmXTx span:focus {
  outline: none;
}
.cid-syV2RzmXTx .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syV2RzmXTx .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syV2RzmXTx .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syV2RzmXTx .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syV2RzmXTx .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syV2RzmXTx .mbr-section-title {
  color: #232323;
}
.cid-syJVN6RVnV {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-syJVN6RVnV img,
.cid-syJVN6RVnV .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-syJVN6RVnV .item:focus,
.cid-syJVN6RVnV span:focus {
  outline: none;
}
.cid-syJVN6RVnV .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syJVN6RVnV .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syJVN6RVnV .item {
  padding: 0;
  margin: 0;
}
.cid-syJVN6RVnV .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syJVN6RVnV .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syJVN6RVnV .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syJVN6RVnV .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syJVN6RVnV .mbr-section-title {
  color: #232323;
}
.cid-syV9kwV2RM {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-syV9kwV2RM img,
.cid-syV9kwV2RM .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-syV9kwV2RM .item:focus,
.cid-syV9kwV2RM span:focus {
  outline: none;
}
.cid-syV9kwV2RM .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-syV9kwV2RM .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-syV9kwV2RM .item {
  padding: 0;
  margin: 0;
}
.cid-syV9kwV2RM .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-syV9kwV2RM .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-syV9kwV2RM .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-syV9kwV2RM .mbr-section-btn {
  margin-top: auto !important;
}
.cid-syV9kwV2RM .mbr-section-title {
  color: #232323;
}
.cid-sywK65Xd6m {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffe161;
}
.cid-sywK65Xd6m .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-sywK65Xd6m .card-wrapper {
  padding: 3rem;
  background: #232323;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .cid-sywK65Xd6m .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sywK65Xd6m .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-sywK65Xd6m .mbr-section-title {
  color: #353535;
}
.cid-sywK65Xd6m .mbr-section-subtitle {
  color: #353535;
}
.cid-sywK65Xd6m .card-title {
  color: #ffe161;
}
.cid-sywK65Xd6m .mbr-text {
  color: #ffffff;
}
.cid-sywK65Xd6m .link {
  color: #4479d9;
}
.cid-sywKcx30qk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #353535;
}
.cid-sywKcx30qk .socicon-bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-sywKcx30qk .socicon-bg-facebook:hover {
  background: #0b60cb;
}
.cid-sywKcx30qk .socicon-bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-sywKcx30qk .socicon-bg-twitter:hover {
  background: #0c85d0;
}
.cid-sywKcx30qk .socicon-bg-vkontakte {
  background: #4680C2;
  color: #ffffff;
}
.cid-sywKcx30qk .socicon-bg-vkontakte:hover {
  background: #3567a0;
}
.cid-sywKcx30qk .socicon-bg-odnoklassniki {
  background: #ee8208;
  color: #ffffff;
}
.cid-sywKcx30qk .socicon-bg-odnoklassniki:hover {
  background: #bd6706;
}
.cid-sywKcx30qk .socicon-bg-pinterest {
  background: #e60023;
  color: #ffffff;
}
.cid-sywKcx30qk .socicon-bg-pinterest:hover {
  background: #b3001b;
}
.cid-sywKcx30qk .socicon-bg-mail {
  background: #005ff9;
  color: #ffffff;
}
.cid-sywKcx30qk .socicon-bg-mail:hover {
  background: #004cc6;
}
.cid-sywKcx30qk .btn-social {
  font-size: 32px;
  border-radius: 50%;
  padding: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none !important;
  border-radius: 0 !important;
}
.cid-sywKcx30qk .btn-social i {
  top: 0;
  line-height: 55px;
  width: 55px;
}
.cid-sywKcx30qk [class^="socicon-"]:before,
.cid-sywKcx30qk [class*=" socicon-"]:before {
  line-height: 55px;
}
.cid-sywKcx30qk .mbr-section-title,
.cid-sywKcx30qk .mbr-social-likes {
  color: #ffffff;
}
